body {
  color: #d4d8db;
  text-shadow: 1px 1px 3px #515456;
  text-align: center;
  padding-top: 10vh;
  height: 100vh;
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.message {
  margin-bottom: 5em;
}


h1 {
  font-size: 100px;
}

h2 {
  font-size: 70px;
}

button:focus {
  outline:0;
}

button:visited {
  outline: none;
}

.btn-group {
  display: inline-block;
  margin-top: 10px;
}

.change-time {
  margin-bottom: 5em;
}

.change-time button {
  background: none;
  border: none;
}

.far-disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
  pointer-events: all !important;
}
