body {
  text-align: center;
  padding-top: 20vh;
  height: 100vh;
  background: #003973;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

body h1 {
  font-size: 100px;
}

button:focus {
  outline:0;
}
button:visited {
  outline: none;
}

.btn-group {
  display: inline-block;
  margin-top: 10px;
}

.change-time {
  margin-bottom: 7.5em;
}

.change-time button {
  background: none;
  border: none;
}

.far-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: all !important;
}
